<a href="https://colab.research.google.com/github/binsta/assess/blob/main/assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ans 1: Fibonacci Series

In [14]:
t = int(input())
for i in range(t):
    s = input()
    lst = []
    for i in set(s):
        lst.append(s.count(i))
    lst.sort()
    
    if len(lst)<3 or lst[-1]==lst[-2]+lst[-3]: 
        print("Dynamic")
    else:
        print("Not")

3
aaaabccc
Dynamic
qqbbcc
Not
pppmmnnoooop
Not

#Ans 2: Ordering Teams

In [12]:
for _ in range(int(input())):
    l=[]
    condition=0
    for i in range(3):
        s1=list(map(int,input().split()))
        if(s1 in l):
            condition=1
            break
        l.append(s1)
    if(condition):
        print("no")
    else:
        r=[]
        l.sort(reverse=True)
        for i in l:
            # print(i)
            for j in i:
                r.append(j)
        c=0
        for _ in range(6,9):
            if((r[_-6]>=r[_-3] and r[_-6]>=r[_])):
                c+=1
                continue
            else:
                print("no")
                break
        if(c==3):
            print("yes")

3
1 2 3
2 3 4
2 3 5
yes
1 2 3
2 3 4
2 3 4
no
5 6 5
1 2 3
2 3 4
yes

#Ans 3: Temple Land bold text

In [46]:
S = int(input())
                                   
while S:                   
    N = int(input())   
    H=list(map(int,input().split())) # H is map out int input

    if N%2 != 0:
        if H[0]==1 and H[-1]==1:
            s=0
            for i in range(1, N//2+1): # line contains N integers H
                if H[i]==H[-1-i] and H[i]==H[i-1]+1:
                    s+=1
                else:
                    print("no")
                    break
            if s==N//2:
                print("yes")
        else:
            print("no")
    else:
        print("no")

    S = S-1

7
5
1 2 3 2 1
yes
7
2 3 4 5 4 3 2
no
5
1 2 3 4 3
no
5
1 3 5 3 1
no
7
1 2 3 4 3 2 1
yes
4
1 2 3 2
no
4
1 2 2 1
no

#Ans 4: Bear and Milk Coookies

In [10]:
for _ in range(int(input())):
    n=int(input())
    s=input()
    if ("cookie" in s):
        if (("cookie cookie" in s) or ("cookie milk" not in s)):
            print("NO")
        else:
            print("YES")
    else:
        print("YES")

4
7
cookie milk milk cookie milk cookie milk
YES
5
cookie cookie milk milk milk
NO
4
milk milk milk milk
YES
1
cookie
NO

#Ans 5: Beautiful Array

In [32]:
try:
    for _ in range(int(input())):
        n = int(input())
        l = list(map(int, input().split()))
        cnt = [l.count(-1), l.count(0), l.count(1)]
        c = len(l) - sum(cnt)
        
        if c > 1:
            print("no")
        else:

            if c and cnt[0]:
                print("no")
            elif (cnt[0]>1 and cnt[2] == 0) :
                print("no")
            else:
                print("yes")
except:
    pass

3
2
0 1
yes
2
1 2
yes
2
5 6
no

# Ans 6: Cats and Dogs

In [34]:

t = int(input())
for _ in range(t):
    c, d, l = map(int, input().split())
    ma = (c+d)*4
    if (c > (d*2)):
        mi = (c - (d * 2) + d) * 4
    else:
        mi = d * 4
    if l % 4 == 0 and l >= mi and l <= ma:
        print("yes")
    else:
        print("no")

3
1 1 8
yes
1 1 4
yes
1 1 2
no

# Ans 7: Sticks

In [11]:
t=int(input())
while t:
    n=int(input())
    a=[int(x) for x in input().split()]
    s=list(set(a))
    s.sort()
    s.reverse()
    b=0
    c=1
    for _ in s:
        if a.count(_)>1 and b<2:
            c=c*_
            b=b+1
        if a.count(_)>3 and b<2:
            c=c*_
            b=b+1
        if b==2:
            print(c)
            break
    if b<2:
        print(-1)
    t=t-1

2
5
1 2 3 1 2
2
4
1 2 2 3
-1

#Ans 8: Two Number

In [39]:
for _ in range(int(input())):
    a,b,k=map(int,input().split())
    if k%2==0:
        print(max(a,b)//min(a,b))
    else:
        print(max(2*a,b)//min(2*a,b))

3
1 2 1
1
3 2 3
3
3 7 2
2

#Ans 9: Minimum Maximum

In [42]:
for _ in range(int(input())):
    n = int(input())
    a = list(map(int, input().split()))
    print(min(a)*(n-1))

2
2
3 4
3
3
4 2 5
4

#Ans 10: Gross salary

In [43]:

for _ in range(int(input())):
    sal = int(input())
    if sal < 1500:
        gross = 2*sal
    else:
        gross = sal*198/100 + 500
        # :. 2f is place holder of floating point
    print("{:.2f}".format(gross))

3
1203
2406.00
10042
20383.16
1312
2624.00